extends layout

// This is jade scripts: http://jade-lang.com/reference/mixins/
mixin range(rule)
  label= rule.label 
  input.form-control(type=rule.type, required, min=rule.options.min, max=rule.options.max, step=rule.options.step)
  
mixin dropdown(rule) 
  label= rule.label 
  select
    option(value='-1')
    option(value='true') Satisfactory
    option(value='false') Unsatisfactory
  
mixin text(rule)
  label= rule.label 
  input.form-control(type=rule.type, required)
  
mixin checkbox(rule) 
  label= rule.label
  input.form-control(type=rule.type, required)

block content
  table#logo
    tr
      img(src='http://pharr-tx.gov/wp-content/uploads/2016/05/City-of-Pharr-Logo.png', alt='pharr-tx')
    tr
      div(align='center')
        h1
          b
            i Pharr Fire-Rescue Vehicle Checklist

  table#mainData
    tr 
      td Date: #{moment(Date.now()).format('MM/DD/YYYY')}
      td Unit# 321 - Brush 32
      td Shift: 
        select
          option(value='-1')
          option(value='A') A
          option(value='B') B
          option(value='C') C
          
      td Station: 
        select
          option(val='-1')
          option(value='1') 1 - FM 495
          option(value='2') 2 - Central Station
          option(value='3') 3 - Las Milpas
    tr 
      td Engine Hrs: 
        input(type='text', name='engHrs' autofocus)
      td VIN# 3FRNW65T56V243834
      td(colspan='2') Checked By: 
        input(type='text', name="auditor")
  br
  p Please select if item is Satisfactory/Unsatisfactory:
  
  hr
  
  form(action="", method="post")
    - each set, section in ruleSet
      h3=section
      br
      - each rule in set
        .form-group
          if rule.type == 'text'
            +text(rule)
          else if rule.type == 'range'
            +range(rule)
          else if rule.type == 'checkbox'
            +checkbox(rule)
          else if rule.type == 'dropdown'
            +dropdown(rule)
      label Additional Comments:
      br
      textarea#comments(name='comments', rows="5" cols="30",style='font-family:sans-serif;')
      hr
      
    button.btn.btn-default(type='submit') Submit
      button.btn.btn-default(type='clear') Clear
