extends layout

// This is jade scripts: http://jade-lang.com/reference/mixins/
mixin range(rule)
  label= rule.label 
  input.form-control(type=rule.type, required, min=rule.options.min, max=rule.options.max, step=rule.options.step)
  
mixin dropdown(rule)
  table#droptabler
    tr
      td
        div(align='center')
        label(id='qtyid')=rule.qty
      td
        div(align='center')
          label(id='nameid')=rule.label
      td
        div(align='center')
          select.form-control(id='dropCheck' type=rule.type, required)
            option(value='')
            option(value='true') Satisfactory
            option(value='false') Unsatisfactory
            
mixin text(rule)
  label= rule.label 
  input.form-control(type=rule.type, required)
  
mixin checkbox(rule) 
  label= rule.label
  input.form-control(type=rule.type, required)

  block content
    table#logo
      tr
        div(align='center')
          img(id='cityLogo', src='http://pharr-tx.gov/wp-content/uploads/2016/05/City-of-Pharr-Logo.png', alt='pharr-tx')
      tr
        div(align='center')
          h1
            b
              i Pharr Fire-Rescue Vehicle Checklist
          br

    form(action="", name="fireCheck", method="POST")
      table#mainData
        tr.mainTr
          td.mainTd Date: #{moment(Date.now()).format('MM/DD/YYYY')}
          td.mainTd Unit# 312 - Rescue 32
          td.mainTd Shift: 
            div.form-group
              select(class='form-control', id='shifts', name='shiftbox', required)
                option(value='')
                option(value='A') A
                option(value='B') B
                option(value='C') C
              
          td.mainTd Station: 
            div.form-group
              select(class='form-control', id='stations', name='stationbox', required)
                option(val='')
                option(value='1') 1 - FM 495
                option(value='2') 2 - Central Station
                option(value='3') 3 - Las Milpas
        tr.mainTr
          td.mainTd Engine Hrs: 
            input(class='form-control', type='text', id='enginebox', name='engHrs' autofocus, required)
          td.mainTd VIN# 4S7HU2D957CO59838
          td.mainTd(colspan='2') Checked By: 
            input(class='form-control', type='text', id='auditrbox', name='auditor', required)
      br
      p Please select if item is Satisfactory/Unsatisfactory:
      hr
    
      - each set, section in ruleSetRescue
        h3=section
        br
        - each rule in set
          .form-group
            if rule.type == 'text'
              +text(rule)
            else if rule.type == 'range'
              +range(rule)
            else if rule.type == 'checkbox'
              +checkbox(rule)
            else if rule.type == 'dropdown'
              +dropdown(rule)
        div(id='textareaDiv')
          label Additional Comments:
          br
          textarea#comments(name='comments', placeholder="Please submit additional comments if a field is unsatisfactory", 
          rows="4", cols="40", style='font-family:sans-serif;')
        hr      
      button.btn.btn-default(type='submit', id='submitButton') Submit
      button.btn.btn-default(type='reset', id='clearButton') Clear
      button(onclick="toSplash()", id='returnButton').btn.btn-default Return
      script.
        function toSplash() {
          window.location.href = '/splash'
        }
      a(href="#top") Go back to the top
