extends layout

// This is jade scripts: http://jade-lang.com/reference/mixins/
mixin range(rule)
  label(for=rule.id)= rule.label
  input.form-control(type=rule.type, required, min=rule.options.min, max=rule.options.max, step=rule.options.step)
  
mixin dropdown(rule)
  label(for=rule.id)= rule.label
  select
    option(value='true') satisfactory
    option(value='false') Non-satisfactory
  
mixin text(rule)
  label(for=rule.id)= rule.label
  input.form-control(type=rule.type, required)

mixin checkbox(rule)
  label(for=rule.id)= rule.label
  input.form-control(type=rule.type, required)

block content
  table#mainData
    tr 
      td Start Week: 
      td 1
      td Unit #: 
      td 321
      td Shift: 
      td A
      td Auditor: 
      td John Doe
    tr 
      td End Week:
      td 2
      td Truck Type:
      td Brush
      td Station: 
      td Pharr Main
      td Day: 
      td Monday
  
  form
   p Please check the box if status is satisfactory:
    - each rule in ruleSet
      .form-group
        if rule.type == 'text'
          +text(rule)
        else if rule.type == 'range'
          +range(rule)
        else if rule.type == 'checkbox'
          +checkbox(rule)
        else if rule.type == 'dropdown'
          +dropdown(rule)
    button.btn.btn-default(type='submit') Submit
